
<section>
    <div class="container-fluid">
        <div class="row">
                <div class="backgroundImage col-4 d-flex flex-column justify-content-end">
                    <div class="Goof-card">
                        <h6 class="card-heading">Goof Place to Work</h6>
                        <p class="card-paragraph">Transformative collaboration for <br>larger teams</p>
                        <button class=" card-button">Schedule a demo</button>
                    </div>
                </div>
                <div class="col-8 d-flex flex-row justify-content-center">
                        <form class="d-flex flex-column justify-content-center" [formGroup]="loginForm" (ngSubmit)="submit(loginForm)">
                                <h1>Sign in to Accion</h1>
                                <p>Enter your Details Below</p>
                                <label for="logusername" class="mb-1 username-label">Username</label>
                                <input type="text" id="logusername" class="form-control mb-2" formControlName="username"/>
                                <span class="err-msg" *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">Enter user name</span>
                                <span class="err-msg" *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('minlength')">Enter valid name</span>    
                               
                                <label for="logpassword" class="mb-1 userpassword-label">Password</label>
                                <input type="password" id="logpassword" class="form-control" formControlName="password"/>
                                <span class="err-msg" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">Password can not be empty</span>
                                <span class="err-msg" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength')">Minimum length should be 8 charectors</span>

                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                        </form>
                </div>
        </div>
    </div>
   
</section>